*{
	margin: 0;
	padding: 0;
	font-family: "comic sans MS";
	box-sizing: border-box;
}
.container{
	width: 100%;
	height: 100vh;
	background: dimgrey;
	display: flex;
	align-items: center;
	justify-content: center;
}
.calculator{
	background: #fff;
	padding:20px;
	border-radius: 10px;
}
.calculator form input{
	border-color: #36454F;
	outline: 0;
	width: 60px;
	height: 60px;
	border-radius: 10px;
	box-shadow: 8px 8px 15px rgba(255, 255, 255, 0.1), 5px 5px 15px rgba(0, 0, 0, 0.1);
	background: transparent;
	font-size: 20px;
	cursor: pointer;
	margin: 10px;
	color: black;
}
form .display{
	display: flex;
	justify-content: flex-end;
	margin:20px 0;
}
form .display input{
	text-align: right;
	flex: 1;
	font-size: 33px;
	box-shadow: none;
}

form input.equal{
	width: 145px;
	font-size: 25px;
}

form input.operator{
	color: #301934;
	font-size: 22px;
	font-weight	: bold;
}